@{
    ViewBag.Title = "About";
    ViewBag.Info = "Mvc is echt cool";
    // Layout = null;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewBag.Info</p>

@section Scripts{ 
<script>
    alert('hi');
</script>
}

